body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.status {
  margin: 10px 0px;
}
.row {
  height: 39px;
  display: flex;
  flex-direction: row;
}
.square {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: solid 1px black;
  margin: 0px;
  padding: 0px;
}
